body {background-color: #F0F8FF;
}
h1 {border: 2px solid #00CED1;
background-image: url("https://amymhaddad.s3.amazonaws.com/morocco-blue.png");
padding: 5px;}
a {border: 2px solid #00CED1;
border-radius: 12px;
padding: 5px;
background-color: #00CED1;
}
h2 {border-bottom: 2px dotted #00CED1}
.myDiv {
position: fixed;
right: 0;
top: 0;
width: 260px;
border: 3px solid #73AD21;
}
