body {background-color: #F0F8FF;
}
h1 {border: 2px solid #00CED1;
background-image: url("https://amymhaddad.s3.amazonaws.com/morocco-blue.png");
padding: 10x;}
a {border: 2px solid #C71585;
border-radius: 10px;
padding: 10px;
}
a:hover, a:active {
background-color: red;
}
h2 {border-bottom: 2px dotted #00FFFF;
padding: 10px;
margin: 10px;
}
p {font-family: "Lucida Console", "Courier New", monospace}
ul {font-family: "Lucida Console", "Courier New", monospace}
.home {
position: fixed;
right: 5;
top: 5;
background-color: #008080;
}
.interests {
padding: 10px
}
figure {
padding: 10px;
margin: 10px;
}
